.DS_Store
.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/
outputs/
이전/
01_midterm/2-3_nlp_features/monthly_complaint_surge.csv
