pandas==3.0.5
pyarrow==25.0.1
lightgbm==4.7.0
matplotlib==3.11.1
matplotlib-inline==0.2.2
statsmodels==0.14.6
scikit-learn==1.9.0
numpy==2.4.6
fastapi==0.141.1
uvicorn==0.52.4
SQLAlchemy=2.0.52
PyMySQL==1.2.0requests==2.34.2
streamlit==1.62.0
openai==3.3.1
python-dotenv==1.2.3
requests==2.34.2
plotly==6.9.0
